footer {
  padding-top: 4rem;
  margin-top: 6rem;
  padding-bottom: 4rem;
  height: auto;
  background: #1C1C21;
  height: auto;
  width: 100%;
  color: #fff;
  overflow-x: hidden;

  .brick-red {
    color: #ED5565;
  }

  .icons {
    i {
      color: #ED5565;
      background: #fff;
      border-radius: 50%;
      font-size: 1.5em;
      padding: .6rem;
      margin-left: 1rem;

      &:hover {
        background: #ED5565;
        color: #fff;
        transition: all 200ms linear;
      }

    }

  }

  .container {
    .first-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;

      h2 {
        // margin-right: 
      }

      img {
        width: 3%;
      }
    }

    .row {
      flex-wrap: nowrap;

      h3 {
        color: #ED5565;
        font-size: 1.2em;
        // text-align: 

      }

      ul {
        background: transparent;
        width: auto;
        border: none;
        list-style: none;
        padding: none;
        text-align: left;
        color: #fff;

        li {
          margin-bottom: 1rem;

          i {
            color: #ED5565;
            padding: 0 1rem 1rem 1rem;
          }

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              color: #ED5565;
            }
          }
        }

      }

      .col-md-2 {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font-size: .9em;

        }


      }

      .footer-lengthy-item {
        display: flex;
        flex-direction: column;
        font-size: .9em;
        justify-content: space-between;

        i {
          display: block;
          float: left;
        }
      }

    }
  }

  form {
    position: relative;

    input {
      border-radius: 2rem;
      height: 50px;
      width: 68%;
      border: none;
      background: #ED5565;
      color: #fff;
      padding-left: 1rem;

      &:focus {
        outline: none;
      }
    }

    input::placeholder {
      color: #fff;
    }

    button {
      border-radius: 1.5rem;
      background: #1C1C21;
      border: 1px solid #ED5565;
      height: 50px;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      left: 45%;
      width: 30%;

      &:hover {
        color: #ED5565;
        border: 1px #1C1C21 solid;
      }
    }
  }
}


@media all and (max-width:1024px) {
  footer {
    overflow-x: hidden;

    .first-row {
      margin-bottom: 1.5rem;


    }

    .row {


      ul {
        margin-right: 1rem;
        margin: 0;
        font-size: .8em;

      }

      .details {
        flex: 0 0 20.666667%;

        .icons {
          width: 100%;

          i {
            padding-right: .5rem;

          }
        }
      }
    }



  }
}

@media all and (max-width:768px) {
  footer {

    padding-bottom: 3rem;

    ul {
      li {
        margin: 0;

        i {
          padding: 0;
        }
      }

    }

    .icons {
      i {
        margin-left: .5em;
        padding: .4rem;
      }
    }

    form {
      button {
        font-size: .8em;
      }
    }

    .container {

      .footer-lengthy-item {


        li {
          font-size: .9em;
        }

        i {
          display: flex;
          float: none;
        }
      }

      .row {
        ul {
          padding: 0;

          li {
            i {
              padding-right: .5rem;
            }
          }
        }


      }

    }

    .first-row.row {

      .col-md-4 {
        h2 {
          font-size: 1.3em;

        }



      }
    }
  }

}

@media all and (max-width:480px) {
  footer {
    .row {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .col-md-4 {
        margin-bottom: 2rem;

      }
    }

    .row {
      .details {
        margin-left: 1.5rem;
      }

      .col-md-5 {
        margin-bottom: 2rem;
      }
    }

    .details {
      margin-bottom: 2rem;
    }

  }

  .footer-lengthy-item {
    ul {
      li:last-child {
        font-size: .9em;
      }
    }
  }
}

@media all and (max-width:425px) {
  footer {
    .first-row {
      margin-left: 1.2rem;
    }

    .row {
      .details {
        margin-left: 1.5rem;
      }

      .col-md-5 {
        margin-bottom: 2rem;
      }
    }

    form {
      input {
        width: 100%;
      }

      button {
        left: 71%;
        font-size: .9em;
      }
    }
  }
}

@media all and (max-width:375px) {
  footer {
    .first-row {
      margin-left: 1.2rem;
    }

    .row {
      .details {
        margin-left: 1.5rem;
      }
    }

    form {
      input {
        width: 100%;

        &::placeholder {
          color: #fff;
        }
      }

      button {
        position: static;
        width: 100%;
        margin-top: .5rem;
        font-size: 1em;
      }
    }

    .first-row.row {

      .col-md-4 {
        h2 {
          font-size: 1.4em;

        }
      }
    }

  }
}

@media all and (max-width:320px) {
  footer {
    .first-row {
      margin-left: .1rem;
    }
  }
}