.no-padding {
    padding-left: 0;
    padding-right: 0;
}



.testimonism {
    height: 712px;
    // background: #fff;
    background: url("../img/star.png") no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;

    position: relative;



    h1 {
        padding: 4rem;
        text-transform: uppercase;
        color: #1C1C21;
    }

    .col-md-4 {
        display: inline-block;
        margin-left: -4px;
    }

    .col-md-4 .card {
        width: 100%;
        height: auto;
        margin-bottom: 3rem;
    }

    .container {
        height: 100%;
        padding-top: 4rem;

        .row {
            margin: 2rem auto;
            width: 100%;
        }
    }

    .card {
        background: #fff;
        height: auto;
        border: none;
        padding: 1rem;
        box-shadow: 0px 3.22652px 48.3979px rgba(0, 0, 0, 0.25);
        border-radius: 10.06631px;
        width: auto;

        .card-header {
            border: none;
            background: #fff;
        }

        .card-footer {
            background: #fff;
            border: none;
            font-size: .8em;
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 100%;

            .title {
                text-transform: uppercase;
            }
        }

    }

}


@media all and (max-width:768px) {
    .testimonism {
        height: auto;

        h1 {
            margin: 0;
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            display: none;
        }

        .card {
            .card-body {
                padding: 0.25rem;
                font-size: .8em;
            }

            .card-footer {
                margin-top: .5rem;
                padding: 0;

                .textarea {
                    font-size: .8em;
                }

                .title {
                    font-size: .8em;
                }
            }
        }

    }
}

@media all and (max-width:480px) {
    .testimonism {
        h1 {
            font-size: 1.5em;
        }

        .card .card-body {
            font-size: 1em;
        }
    }
}

@media all and (max-width:375px) {
    .testimonism {
        h1 {
            font-size: 1.5em;
        }
    }
}